// variables.scss

$navy:		#000034;
$navy-light:#282849;
$orange: 	#ff9000;
$lavender: 	#767698;
$purple: 	#45456b;
$white: 	#ffffff;
$black: 	#111111;
$smoke:     #f2f2f3;
$facebook:  #4470CF;
$twitter:   #5DAED5;
$pinterest: #C53942;

$headline: 'Alegreya Sans SC', Verdana, sans-serif;
$body-copy: 'Lato', sans-serif;