/* ===========================
links-n-nav.scss
============================== */

a, a:visited {
	color: $blue;
	text-decoration: none;
	@include link-trans;
}

a:hover,
a:focus  {
	color: $dark-blue;
	text-decoration: none;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a.footer-email:link,
a.footer-email:visited {
	color: $white;

	&:hover,
	&:focus {color: $blue;}
}

/* navigation ================== */


.main-navigation {
	display: none;
	@include tablet {
  		display: none;
  	}

  	@include desktop {
  		display: block;
  	}
}

#site-navigation {
	position: relative;
	background-color: $black;
}

#site-navigation #primary-menu  li  {
	padding: 14px 15px 14px 15px;
	font-size: 15px;

	@include cinema {
		font-size: 16px;
	}


	&:focus,
	&:hover,
	&.current-menu-item  {
		background-color: $orange;
	}

	
	&.current-menu-parent {
		background-color: darken($orange, 7%) !important;
	}

	a {
		font-weight: 700;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 1px;

		&:hover,
		&:focus {
			color: $white;
		}
	}
	
	&.menu-item-has-children {
		padding-right: 20px;
	}
	&.menu-item-has-children:after {
		@include desktop {
			content: ' ';
		  	height: 0;
		  	position: absolute;
		  	top: 21px; 
		  	right: 6px;
		  	width: 0;
		  	border: 5px solid transparent;
		  	border-top-color: #fff;
		}
	}
	
}


#site-navigation #primary-menu  ul {
	top: 49px;

	li {
		background-color: $orange;
		font-size: 15px;
		padding: 12px 14px;
	}
}

.main-navigation ul li:hover > ul, 
.main-navigation ul li.focus > ul {
  left: 0;

  li:hover,
  li:focus {
  	background-color: darken($orange, 10%) !important;
  }
}

.main-navigation ul ul a {
  
  @include desktop {
  	width: 230px;
  }
}

/* blow out the width of measurement methods submenu for long chapter titles */
#site-navigation #primary-menu #menu-item-556 ul.sub-menu a {
	@include desktop {
		width: 400px;
		text-transform: none;
		font-size: 18px;
		font-weight: $regular;
		letter-spacing: 0;
		
	}
}

#responsive-menu .responsive-menu li a {
	white-space: normal;
	height: auto;
}

/* search ================== */

.nav-trigger {
	color: $gray;
	font-size: 16px;
	padding: 14px 4px 0;
	cursor: pointer;
	@include link-trans;

	&:hover,
	&:focus {
		color: $orange;
	}
}

#nav-search {
	position: absolute;
	top: 48px;
	left: 60%;
	display: none;
	overflow: hidden;
	padding: 8px 20px 4px;
	background-color: darken($black, 5%);
	color: $white;
	font-size: 16px;
	z-index: 100;
	text-align: center;
	@include link-trans;

	input[type="search"] {
		border-radius: 4px;
		border: none;
		padding: 6px 12px;
		color: $gray;
		width: 200px;
		font-weight: $regular;
	}
	input[type="submit"] {
		background-color: transparent;
		border: none;
		display: inline-block;	
		color: $orange;
		width: auto;
		@include link-trans;

		&:hover,
		&:focus {
			color: darken($orange, 10%);
		}
	}

	// &.active {
	// 	height: auto;
	// }

}

/* pagination */

.navigation {
	@include desktop {
		margin-left: 33%;
		padding-left: 15px;
	}
}
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
	margin-right: 1px;
	border-radius: 0;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #fff;
	
	cursor: pointer;
	padding: 6px 12px;
	
}

.navigation li a:hover,
.navigation li.active a {
	background-color: $blue;
	color: $white;
}
