/* tools ==================== */

h2.tool-category {
	border-bottom: 1px solid $border;
	@include tablet {
		margin-bottom: 20px;
		font-size: 32px;
	}
	
}


.tool-category-outer {
	margin-bottom: 30px;
}

.category-tool-wrap {
	p {color: $gray;}
	@include tablet {
		width: 50%;
		padding-right: 3%;
		padding-bottom: 20px;
		float: left;

		&:last-child {
			padding-right: 0;
		}

		h3 {font-size: 24px;}

		
	}
}

.funding-partners-wrap {
	width: 95%;
	margin-right: 4%;

	@include tablet {
		width: 45%;
		&:nth-child(2n+1) {
			clear: left;
			
		}
	}

	.thumb-wrap {
		height: 120px;
		display:table-cell;
		vertical-align: bottom;

		img {
			display: block;
			margin: 0 auto 20px;
		}
	}

	h4 .text {
		font-size: 20px;
		height: 100px;
		display: block;
	}


}