// variables.scss

$orange:    #f6812a;
$blue: 		#06A5C6;
$dark-blue: #06A5C6;
$white: 	#ffffff;
$black: 	#2a3032;
$gray: 		#7F7F7F;
$white: 	#F5F5F5;


$headline: 'Alegreya Sans', Verdana, sans-serif;
$body-copy: 'Alegreya Sans', Verdana, sans-serif;

// Font weights

$regular: 400;
$bold: 700;
$x-bold: 800;


